.extension-icon {
	position: relative;
	width: 250px;
    height: 60px;
    background: url('../static/images/Logo-WebDev-HQ.png') -15px -70px no-repeat;
    overflow: hidden;
    border-radius: 4px;
}