body.popup {
	width: 800px;
	height: 450px;
	background-color: #f5f5f5;
}

#popup-sidebar {
	position: fixed;
	width: 64px;
	background-color: $white;
	border-right: 1px solid $border-decent;
	box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
	z-index: 10;
}

a#extension-icon:link,
a#extension-icon:visited {
	width: 64px;
	height: 64px;
	background: url('../static/images/64-Icon-Dashboard.png') 10px 10px no-repeat;
	background-size: 65%;
}

a#extension-icon:hover,
a#extension-icon:focus {
	
}

#popup-navbar {
	position: absolute;
	top: 0;
	left: 64px;
	background: $white;
	width: 100%;
	height: 64px;
	nav {
		ul, ol {
			margin-bottom: 0;
		}
	}
}

button#sidebar-toggle {
	padding: 6px;
	border: 0;
	margin-top:6px;
	margin-left: 20px;
	border-radius: 3px;
}

button#sidebar-toggle:hover {
	background-color: $gray-300;
}


#extension-nav {
	li {
		a.nav-link:link,
		a.nav-link:visited {
			margin: 4px;
			border-radius: 4px;
			// Something
		}
		a.nav-link:hover,
		a.nav-link:focus {
			background-color: $primary-hover-bg;
			color: $primary;
			svg {
				fill: $primary;
			}
		}
	}
}

#popup-navbar-search-form {
	margin-top: 5px;
	margin-left: 12px;
	width: 240px;
}

#popup-top-right-menu {
	position: fixed;
	right: 1rem;
	margin-top: 5px;
	li.nav-item {
		margin-right: 1rem;
		a.nav-link:link,
		a.nav-link:visited {
			background-color: $gray-200;
			color: unset;
			border-radius: 4px;
		}
		a.nav-link:hover,
		a.nav-link:focus {
			background-color: $primary-hover-bg;
			color: $primary;
			border-radius: 4px;
		}
	}
	li.nav-item:last-child {
		margin-right: 0;
	}
}

#popup-breadcrumbs {
	position: relative;
	top: 80px;
	margin-left: 75px;
	margin-bottom: 3rem;
	z-index: 10;
	nav {
		ul, ol {
			margin-bottom: 0;
			li {
				a:link, a:visited {
					font-size: .85rem;
				}
			}
		}
	}
}

.tab-content {
	padding-top: 4.5rem;
	margin-left: 85px;
}