<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/webdev-hq.css" />
</head>
<body cz-shortcut-listen="true">
	<div class="extension-options">

		<div class="container">
			<div class="row">
				<div class="offset-md-4 col-md-4 text-center">
					<h1 class="my-3 h4"><a class="extension-icon"></a> WebDev HQ Extension Options</h1>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-4 col-md-4">
					<div class="dropdown-menu position-static d-flex align-items-stretch p-3 rounded-3 shadow-lg w-600px">
						<nav class="d-grid gap-2 col-8">
						  <a href="#" class="btn btn-hover-light rounded-2 d-flex align-items-center gap-3 py-2 px-3 lh-sm text-start">
							<svg class="bi" width="32" height="32" fill="currentColor">
								<use xlink:href="../static/icons/bootstrap/bootstrap-icons.svg#display"/>
							</svg>
							<div>
							  <strong class="d-block">Options</strong>
							  <small>Take a tour through the product</small>
							</div>
						  </a>
						  <a href="#" class="btn btn-hover-light rounded-2 d-flex align-items-center gap-3 py-2 px-3 lh-sm text-start">
							<svg class="bi" width="32" height="32" fill="currentColor">
								<use xlink:href="../static/icons/bootstrap/bootstrap-icons.svg#question-circle"/>
							</svg>
							<div>
							  <strong class="d-block">Support</strong>
							  <small>Get help from our support crew</small>
							</div>
						  </a>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="../js/options.js" type="module"></script>
  </body>
</html>