<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/webdev-hq.css" />
</head>
<body>
	<div class="extension-wrap pt-2 pb-2">
		<nav class="navbar navbar-expand p-0" aria-label="WebDev HQ PopUp Nav">
			<div class="container-fluid">
				<a class="navbar-brand" href="https://webdev-hq.com/" target="_blank" title="Visit WebDev HQ Website">
					WebDev HQ Website
				</a>
			</div>
		</nav>
		<button>Request permissions</button>
	</div>
	<script src="../js/popup.js" type="module"></script>
</body>
</html>