<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/webdev-hq.css" />
</head>
<body class="bg-slate-200 p-3 w-[700px] h-[400]">
    <template id="li_template">
      <li>
        <a>
          <h3 class="title">Tab Title</h3>
          <p class="pathname">Tab Pathname</p>
        </a>
      </li>
    </template>

    <nav>
		<ul class="flex justify-center">
			<li><button class="flex border-1 border-blue-500 p-2 rounded" id="tabsBtn">Group Tabs</button></li>
			<li><button class="flex border-1 border-blue-500 p-2 rounded" id="dashboardBtn">Dashboard</button></li>
			<li><button class="flex border-1 border-blue-500 p-2 rounded" id="btn-group-tabs">Group Tabs</button></li>
		</ul>
	</nav>
    <ul id="tabList"></ul>

	<script src="../js/popup.js" type="module"></script>
	</body>
</html>